body {
    background-color: #232323;
}



.box {
    width: 256px;
/*     height: 256px; */

    border-radius: 16px;
    padding: 32px; /* increase width */

    position: absolute; /* center it */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #191919;
    color: #F3F3F3;

    text-align: center;
    font-family: "Rodin Light", sans-serif;

}

.icon {
    width: 160px;
    height: 160px;

    border-radius: 50%;
/*     display: block; */
/*     margin: auto; */
}



.socials {
}

.socials a {
    text-decoration: none; /* remove underline from links */
    fill: #808080;
}

/*.socials a:hover {
    fill: #F3F3F3;
}*/

.socials a.github:hover     { fill: #F3F3F3; }
.socials a.twitter:hover    { fill: #1DA1F2; }
.socials a.youtube:hover    { fill: #FF0000; }
.socials a.instagram:hover  { fill: #f26796; } /* average colour */
.socials a.open3dlab:hover  { fill: #4056ad; }




.navigation {
    padding: 16px;
    font-weight: lighter;
}

.navigation a {
    text-decoration: none; /* remove underline from links */
    margin-right: 8px;
}

.navigation a:last-child {
    margin-right: 0; /* remove on last */
}
